* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mat-dialog-container {
  padding: 0px !important;
  display: contents !important;
}
.no-content-class {
  display: flex;
  flex-direction: column;
}
.angular-bootstrap-table {
  max-width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #525a6a !important;

    thead {
      tr {
        border-bottom: 1px solid #ced1d8 !important;
        font-weight: 700;

        th {
          font-style: normal;
          text-align: start;
          padding: 0.25vw;
          cursor: pointer;

          &:last-child {
            min-width: 150px !important;
          }

          .app-sort-icon {
            padding: 0;
            margin: 0;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          font-weight: 500;
          text-align: start;
          padding: .5vw;
        }

        td:last-child {
          text-align: start;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
}
