<footer class="footer p-20">
  <div class="container-fluid d-flex flex-column">
    <div
      class="row col-lg-12 border-3 border-bottom justify-content-between p-5"
    >
      <div class="col-md-4">
        <div class="d-flex flex-column p-5 gap-10">
          <span
            [inlineSVG]="'./assets/media/landing/SurgiBook Logo.svg'"
          ></span>
          <span
            style="
              color: #525a6a;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
            "
            >Want to use Surgibook in your healthcare organisation or medical
            school, contact us on info&#64;surgibook.com and we will get in touch.
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="d-flex flex-column p-5 gap-10 align-items-end">
          <strong
            style="
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              color: #003e6c;
              margin-right: 1.5em;
            "
            >Get the app</strong
          >
          <a
            href="https://apps.apple.com/app/surgibook/id6448538070"
            target="_blank"
            [inlineSVG]="'./assets/media/landing/StoreIOS.svg'"
          ></a>
          <span [inlineSVG]="'./assets/media/landing/StoreAndroid.svg'"></span>
        </div>
      </div>
    </div>
    <div class="row col-lg-12 justify-content-between p-2">
      <div class="col-md-4">
        <div class="d-flex flex-column p-5 gap-10">
          <span
            style="
              color: #525a6a;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
            "
            >2023 Surgibook All rights reserved.</span
          >
        </div>
      </div>
      <div class="col-md-4">
        <div class="d-flex flex-row p-5 gap-10 justify-content-end">
          <!-- <button>
            <span
              [inlineSVG]="'./assets/media/landing/social/twitter.svg'"
              class="svg-icon svg-icon-md svg-icon-gray-500"
            ></span>
          </button> -->
          <button>
            <a
              href="https://www.linkedin.com/company/surgi-book/"
              target="_blank"
              [inlineSVG]="'./assets/media/landing/social/linkedin.svg'"
              class="svg-icon svg-icon-md svg-icon-gray-500"
            ></a>
          </button>
          <button>
            <a
              href="https://www.facebook.com/surgibook?mibextid=ZbWKwL"
              target="_blank"
              [inlineSVG]="'./assets/media/landing/social/5.svg'"
              class="svg-icon svg-icon-md svg-icon-gray-500"
            ></a>
          </button>
          <button>
            <a
              href="https://www.youtube.com/@SurgiBook"
              target="_blank"
              [inlineSVG]="'./assets/media/svg/icons/Media/Youtube.svg'"
              class="svg-icon svg-icon-lg svg-icon-gray-500"
            >
            </a>
          </button>
          <!-- <button>
            <span
              [inlineSVG]="'./assets/media/landing/social/github.svg'"
              class="svg-icon svg-icon-md svg-icon-gray-500"
            ></span>
          </button> -->
          <!-- <button>
            <span
              [inlineSVG]="'./assets/media/landing/social/discord.svg'"
              class="svg-icon svg-icon-md svg-icon-gray-500"
            ></span>
          </button> -->
          <!-- <button>
            <span
              [inlineSVG]="'./assets/media/landing/social/5.svg'"
              class="svg-icon svg-icon-md svg-icon-gray-500"
            ></span>
          </button> -->
        </div>
      </div>
    </div>
  </div>
</footer>
