<div
  class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed"
>
  <div class="d-flex flex-column flex-column-fluid  p-10 py-lg-20">
    <div class="pt-lg-10">
      <div id="main-content-row "  class="tie-row d-flex justify-content-center main-content-row">
        <div class="main-content tie-col-md-12 w-75" role="main">
          <div class="stream-item stream-item-above-post"></div>
          <article id="the-post" class="container-wrapper post-content">
            <header class="entry-header-outer">
              <div class="entry-header text-center">
                <h1 class="post-title entry-title">Privacy Policy</h1>
              </div>
              <!-- .entry-header /-->
            </header>
            <!-- .entry-header-outer /-->

            <div class="entry-content entry clearfix">
              <div style="direction: ltr">
                <p style="text-align: left">
                  We respect your privacy and are committed to protecting it
                  through our
                </p>
                <p style="text-align: left">
                  compliance with this privacy policy (“Policy”).This Policy
                  describes the types of
                </p>
                <p style="text-align: left">
                  information we may collect from you or that you may provide
                  (“Personal
                </p>
                <p style="text-align: left">
                  Information”) I the “Surgibook” mobile application (“Mobile
                  Application” or “Service”)
                </p>
                <p style="text-align: left">
                  and any of its related products and services (collectively,
                  “Services”), and our
                </p>
                <p style="text-align: left">
                  practices for collecting, using, maintaining, protecting, and
                  disclosing that
                </p>
                <p style="text-align: left">
                  Personal Information. It also describes the choices available
                  to you regarding our
                </p>
                <p style="text-align: left">
                  use of your Personal Information and how you can access and
                  update it.
                </p>
                <p style="text-align: left">
                  This Policy is a legally binding agreement between you
                  (“User”, “you” or “your”)
                </p>
                <p style="text-align: left">
                  and Surgibook Tech (“Surgibook Tech”, “we”, “us” or “our”).
                  If you are entering into this
                </p>
                <p style="text-align: left">
                  agreement on behalf of a business or other legal entity, you
                  represent that you
                </p>
                <p style="text-align: left">
                  have the authority to bind such entity to this agreement, in
                  which case the terms
                </p>
                <p style="text-align: left">
                  “User”, “you” or “your” shall refer to such entity. If you do
                  not have such authority,
                </p>
                <p style="text-align: left">
                  or if you do not agree with the terms of this agreement, you
                  must not accept this
                </p>
                <p style="text-align: left">
                  agreement and may not access and use the Mobile Application
                  and Services.By
                </p>
                <p style="text-align: left">
                  accessing and using the Mobile Application and Services, you
                  acknowledge that
                </p>
                <p style="text-align: left">
                  you have read, understood, and agree to be bound by the terms
                  of this Policy. This
                </p>
                <p style="text-align: left">
                  Policy does not apply to the practices of companies that we do
                  not own or control,
                </p>
                <p style="text-align: left">
                  or to individuals that we do not employ or manage.
                </p>
                <p style="text-align: left">
                  <strong>Table of contents</strong>
                </p>
                <p style="text-align: left">
                  1.Automatic collection of information including image upload
                  and why we need it
                </p>
                <p style="text-align: left">
                  2.Collection of personal information
                </p>
                <p style="text-align: left">3.Privacy of children</p>
                <p style="text-align: left">
                  4.Use and processing of collected information
                </p>
                <p style="text-align: left">5.Payment processing</p>
                <p style="text-align: left">6.Disclosure of information</p>
                <p style="text-align: left">7.Retention of information</p>
                <p style="text-align: left">8.California privacy rights</p>
                <p style="text-align: left">9.How to exercise your rights</p>
                <p style="text-align: left">10.Advertisements</p>
                <p style="text-align: left">11.Email marketing</p>
                <p style="text-align: left">12.Affiliate links</p>
                <p style="text-align: left">13.Links to other resources</p>
                <p style="text-align: left">14.Information security</p>
                <p style="text-align: left">15.Data breach</p>
                <p style="text-align: left">16.Changes and amendments</p>
                <p style="text-align: left">17.Acceptance of this policy</p>
                <p style="text-align: left">18.Contacting us</p>
                <p style="text-align: left">
                  <strong
                    >Automatic collection of information including image upload
                    and why we need it&nbsp;</strong
                  >
                </p>
                <p style="text-align: left">
                  When you use the Mobile Application, our servers automatically
                  record information that your device sends. This data may
                  include information such as your device’s IP address and
                  location, device name and version, operating system type and
                  version, language preferences, information you search for in
                  the Mobile Application, access times and dates, and other
                  statistics.
                </p>
                <p style="text-align: left">
                  Information collected automatically is used only to identify
                  potential cases of abuse and establish statistical information
                  regarding the usage of the Mobile Application and Services.
                  This statistical information is not otherwise aggregated in
                  such a way that would identify any particular User of the
                  system.
                </p>
                <p>
                  IMAGE UPLOADED DURING SIGN UP IF YOU CHOOSE TO INLCUDE IT WILL
                  BE USED TO GIVE YOU A PERSONALISED EXPERIENCE AND WILL NOT BE
                  USED FOR ANY OTHER PURPOSE. IF YOU CHOOSE TO UPLOAD AN IMAGE
                  FROM THE “+” SIGN WITHIN THE APPLICATION WE WILL USE IT THIS
                  IMAGE TO SEARCH FOR YOUR PRODUCT WITH DIFFERENT SUPPLIERS.
                </p>
                <p>
                  IMAGE IS SAVED ON OUR SERVER SO WE CAN ATTACH IT TO YOUR ORDER
                  AND YOU CAN DELETE IT OR DELETE THE ACCOUNT ENTIRELY AND ALL
                  RELATED DATA WILL BE REMOVE PERMENTALY WITH NO WAY TO RECOVER
                  IT.
                </p>
                <p style="text-align: left">
                  <strong>Collection of personal information</strong>
                </p>
                <p style="text-align: left">
                  You can access and use the Mobile Application and Services
                  without telling us who you are or revealing any information by
                  which someone could identify you as a specific, identifiable
                  individual. If however you wish to use some of the features
                  offered in the Mobile Application, you may be asked to provide
                  certain Personal Information (for example, your name and
                  e-mail address).
                </p>
                <p style="text-align: left">
                  We receive and store any information you knowingly provide to
                  us when you create an account, publish content, make a
                  purchase, or fill any forms in the Mobile Application .When
                  required, this information may include the following:
                </p>
                <ul style="text-align: left; padding-left: 10px">
                  <li>
                    Account details (such as user name, unique user ID,
                    password, etc)
                  </li>
                  <li>
                    Contact information (such as email address, phone number,
                    etc)
                  </li>
                  <li>
                    Basic personal information (such as name, country of
                    residence, etc)
                  </li>
                  <li>
                    Payment information (such as credit card details, bank
                    details, etc)
                  </li>
                </ul>
                <p style="text-align: left">
                  You can choose not to provide us with your Personal
                  Information, but then you
                </p>
                <p style="text-align: left">
                  may not be able to take advantage of some of the features in
                  the Mobile
                </p>
                <p style="text-align: left">
                  Application. Users who are uncertain about what information is
                  mandatory are
                </p>
                <p style="text-align: left">welcome to contact us.</p>
                <p style="text-align: left">
                  <strong>Privacy of children</strong>
                </p>
                <p style="text-align: left">
                  We do not knowingly collect any Personal Information from
                  children under the age
                </p>
                <p style="text-align: left">
                  of 18.If you are under the age of 18, please do not submit any
                  Personal
                </p>
                <p style="text-align: left">
                  Information through the Mobile Application and Services. If
                  you have reason to
                </p>
                <p style="text-align: left">
                  believe that a child under the age of 18 has provided Personal
                  Information to us
                </p>
                <p style="text-align: left">
                  through the Mobile Application and Services, please contact us
                  to request that we
                </p>
                <p style="text-align: left">
                  delete that child’s Personal Information from our Services.
                </p>
                <p style="text-align: left">
                  We encourage parents and legal guardians to monitor their
                  children’s Internet
                </p>
                <p style="text-align: left">
                  usage and to help enforce this Policy by instructing their
                  children never to provide
                </p>
                <p style="text-align: left">
                  Personal Information through the Mobile Application and
                  Services without their permission.
                </p>
                <p style="text-align: left">
                  We also ask that all parents and legal guardians overseeing
                  the care
                </p>
                <p style="text-align: left">
                  of children take the necessary precautions to ensure that
                  their children are
                </p>
                <p style="text-align: left">
                  instructed to never give out Personal Information when online
                  without their
                </p>
                <p style="text-align: left">permission.</p>
                <p style="text-align: left">
                  <strong>Use and processing of collected information</strong>
                </p>
                <p style="text-align: left">
                  We act as a data controller and a data processor when handling
                  Personal
                </p>
                <p style="text-align: left">
                  Information, unless we have entered into a data processing
                  agreement with you in
                </p>
                <p style="text-align: left">
                  which case you would be the data controller and we would be
                  the data processor.
                </p>
                <p style="text-align: left">
                  Our role may also differ depending on the specific situation
                  involving Personal
                </p>
                <p style="text-align: left">
                  Information. We act in the capacity of a data controller when
                  we ask you to submit
                </p>
                <p style="text-align: left">
                  your Personal Information that is necessary to ensure your
                  access and use of the
                </p>
                <p style="text-align: left">
                  Mobile Application and Services. In such instances, we are a
                  data controller
                </p>
                <p style="text-align: left">
                  because we determine the purposes and means of the processing
                  of Personal
                </p>
                <p style="text-align: left">Information.</p>
                <p style="text-align: left">
                  We act in the capacity of a data processor in situations when
                  you submit Personal
                </p>
                <p style="text-align: left">
                  Information through the Mobile Application and Services. We do
                  not own, control,
                </p>
                <p style="text-align: left">
                  or make decisions about the submitted Personal Information,
                  and such Personal
                </p>
                <p style="text-align: left">
                  Information is processed only in accordance with your
                  instructions. In such
                </p>
                <p style="text-align: left">
                  instances, the User providing Personal Information acts as a
                  data controller.
                </p>
                <p style="text-align: left">
                  In order to make the Mobile Application and Services available
                  to you, or to meet a legal obligation, we may need to collect
                  and use certain Personal Information
                </p>
                <p style="text-align: left">
                  if you do not provide the information that we request, we may
                  not be able to provide you with the requested products or
                  services. Any of the information we collect from you may be
                  used for the following purposes:
                </p>
                <ul style="padding-left: 10px">
                  <li>Create and manage user accounts</li>
                  <li>
                    Upload personal image to be used for personalization
                    experience
                  </li>
                  <li>Fulfill and manage orders</li>
                  <li>Deliver products or services</li>
                  <li>Improve products and services</li>
                  <li>Send administrative information</li>
                  <li>Send marketing and promotional communications</li>
                  <li style="text-align: left">
                    Respond to inquiries and offer support
                  </li>
                  <li style="text-align: left">Request user feedback</li>
                  <li>Improve user experience</li>
                  <li>Post customer testimonials</li>
                  <li>Deliver targeted advertising</li>
                  <li>Enforce terms and conditions and policies</li>
                  <li>Protect from abuse and malicious users</li>
                  <li>Respond to legal requests and prevent harm</li>
                  <li>Run and operate the Mobile Application and Services</li>
                </ul>
                <p style="text-align: left">
                  Processing your Personal Information depends on how you
                  interact with the
                </p>
                <p style="text-align: left">
                  Mobile Application and Services, where you are located in the
                  world and if one of
                </p>
                <p style="text-align: left">
                  the following applies: (i) you have given your consent for one
                  or more specific
                </p>
                <p style="text-align: left">
                  purposes; this, however, does not apply, whenever the
                  processing of Personal
                </p>
                <p style="text-align: left">
                  Information is subject to California Consumer Privacy Act;(ii)
                  provision of
                </p>
                <p style="text-align: left">
                  information is necessary for the performance of an agreement
                  with you and/or for
                </p>
                <p style="text-align: left">
                  any pre-contractual obligations thereof; (iii) processing is
                  necessary for
                </p>
                <p style="text-align: left">
                  compliance with a legal obligation to which you are subject;
                  (iv) processing is
                </p>
                <p style="text-align: left">
                  related to a task that is carried out in the public interest
                  or in the exercise of
                </p>
                <p style="text-align: left">
                  official authority vested in us; (v) processing is necessary
                  for the purposes of the
                </p>
                <p style="text-align: left">
                  legitimate interests pursued by us or by a third party.
                </p>
                <p style="text-align: left">
                  Note that under some legislations we may be allowed to process
                  information until you object to such processing by opting out,
                  without having to rely on consent or any other of the legal
                  bases. In any case, we will be happy to clarify the specific
                  legal basis that applies to the processing, and in particular
                  whether the provision of Personal Information is a statutory
                  or contractual requirement, or a requirement necessary to
                  enter into a contract.
                </p>
                <p style="text-align: left">
                  <strong>Payment processing</strong>
                </p>
                <p style="text-align: left">
                  In case of Services requiring payment, you may need to provide
                  your credit card
                </p>
                <p style="text-align: left">
                  details or other payment account information, which will be
                  used solely for
                </p>
                <p style="text-align: left">
                  processing payments. We use third-party payment processors
                  (“Payment
                </p>
                <p style="text-align: left">
                  Processors”) to assist us in processing your payment
                  information securely.
                </p>
                <p style="text-align: left">
                  Payment Processors adhere to the latest security standards as
                  managed by the
                </p>
                <p style="text-align: left">
                  PCI Security Standards Council, which is a joint effort of
                  brands like Visa,
                </p>
                <p style="text-align: left">
                  MasterCard, American Express and Discover. Sensitive and
                  private data exchange
                </p>
                <p style="text-align: left">
                  happens over a SSL secured communication channel and is
                  encrypted and
                </p>
                <p style="text-align: left">
                  protected with digital signatures, and the Mobile Application
                  and Services are also
                </p>
                <p style="text-align: left">
                  in compliance with strict vulnerability standards in order to
                  create as secure of an
                </p>
                <p style="text-align: left">
                  environment as possible for Users. We will share payment data
                  with the Payment
                </p>
                <p style="text-align: left">
                  Processors only to the extent necessary for the purposes of
                  processing your
                </p>
                <p style="text-align: left">
                  payments, refunding such payments, and dealing with complaints
                  and queries
                </p>
                <p style="text-align: left">
                  related to such payments and refunds.
                </p>
                <p style="text-align: left">
                  Please note that the Payment Processors may collect some
                  Personal Information
                </p>
                <p style="text-align: left">
                  from you, which allows them to process your payments (e.g.,
                  your email address,
                </p>
                <p style="text-align: left">
                  address, credit card details, and bank account number) and
                  handle all the steps in
                </p>
                <p style="text-align: left">
                  the payment process through their systems, including data
                  collection and data
                </p>
                <p style="text-align: left">
                  processing. The Payment Processors’ use of your Personal
                  Information is
                </p>
                <p style="text-align: left">
                  governed by their respective privacy policies which may or may
                  not contain
                </p>
                <p style="text-align: left">
                  privacy protections as protective as this Policy. We suggest
                  that you review their
                </p>
                <p style="text-align: left">respective privacy policies.</p>
                <p style="text-align: left">
                  <strong>Disclosure of information</strong>
                </p>
                <p style="text-align: left">
                  Depending on the requested Services or as necessary to
                  complete any transaction
                </p>
                <p style="text-align: left">
                  or provide any Service you have requested, we may share your
                  information with
                </p>
                <p style="text-align: left">
                  our trusted subsidiaries and joint venture partners,
                  affiliates, contracted
                </p>
                <p style="text-align: left">
                  companies, and service providers (collectively, “Service
                  Providers”) we rely upon
                </p>
                <p style="text-align: left">
                  to assist in the operation of the Mobile Application and
                  Services available to you
                </p>
                <p style="text-align: left">
                  and whose privacy policies are consistent with ours or who
                  agree to abide by our
                </p>
                <p style="text-align: left">
                  policies with respect to Personal Information. We will not
                  share any personally
                </p>
                <p style="text-align: left">
                  identifiable information with third parties and will not share
                  any information with
                </p>
                <p style="text-align: left">unaffiliated third parties.</p>
                <p style="text-align: left">
                  Service Providers are not authorized to use or disclose your
                  information except as necessary to perform services on our
                  behalf or comply with legal requirements. Service Providers
                  are given the information they need only in order to perform
                  their designated functions, and we do not authorize them to
                  use or disclose any of the provided information for their own
                  marketing or other purposes.
                </p>
                <p style="text-align: left">
                  We may also disclose any Personal Information we collect, use
                  or receive if required or permitted by law, such as to comply
                  with a subpoena or similar legal
                </p>
                <p style="text-align: left">
                  process, and when we believe in good faith that disclosure is
                  necessary to protect our rights, protect your safety or the
                  safety of others, investigate fraud, or respond to a
                  government request.
                </p>
                <p style="text-align: left">
                  In the event we go through a business transition, such as a
                  merger or acquisition by another company, or sale of all or a
                  portion of its assets, your user account, and your Personal
                  Information will likely be among the assets transferred.
                </p>
                <p style="text-align: left">
                  <strong>Retention of information</strong>
                </p>
                <p style="text-align: left">
                  We will retain and use your Personal Information for the
                  period necessary to enforce our agreements, resolve disputes,
                  and unless a longer retention period is required or permitted
                  by law up to a maximum of 60 months.
                </p>
                <p style="text-align: left">
                  We may use any aggregated data derived from or incorporating
                  your Personal
                </p>
                <p style="text-align: left">
                  Information after you update or delete it, but not in a manner
                  that would identify
                </p>
                <p style="text-align: left">
                  you personally. Once the retention period expires, Personal
                  Information shall be
                </p>
                <p style="text-align: left">
                  deleted. Therefore, the right to access, the right to erasure,
                  the right to
                </p>
                <p style="text-align: left">
                  rectification, and the right to data portability cannot be
                  enforced after the
                </p>
                <p style="text-align: left">
                  expiration of the retention period.
                </p>
                <p style="text-align: left">
                  We upload your image/picture as part of the onboarding process
                  if you choose to do so to give you a personalized experience
                </p>
                <p style="text-align: left">
                  <strong>California privacy rights</strong>
                </p>
                <p style="text-align: left">
                  Consumers residing in California are afforded certain
                  additional rights with respect to their Personal Information
                  under the California Consumer Privacy Act (“CCPA”). If you are
                  a California resident, this section applies to you.
                </p>
                <p style="text-align: left">
                  In addition to the rights as explained in this Policy,
                  California residents who
                </p>
                <p style="text-align: left">
                  provide Personal Information as defined in the statute to
                  obtain Services for
                </p>
                <p style="text-align: left">
                  personal, family, or household use are entitled to request and
                  obtain from us, once
                </p>
                <p style="text-align: left">
                  a calendar year, information about the categories and specific
                  pieces of Personal
                </p>
                <p style="text-align: left">
                  Information we have collected and disclosed.
                </p>
                <p style="text-align: left">
                  Furthermore, California residents have the right to request
                  deletion of their Personal Information or opt-out of the sale
                  of their Personal Information which may include selling,
                  disclosing, or transferring Personal Information to another
                  business or a third party for monetary or other valuable
                  consideration. To do so, simply contact us. We will not
                  discriminate against you if you exercise your rights under the
                  CCPA.
                </p>
                <p style="text-align: left">
                  <strong>How to exercise your rights</strong>
                </p>
                <p style="text-align: left">
                  Any requests to exercise your rights can be directed to us
                  through the contact details provided in this document. Please
                  note that we may ask you to verify your identity before
                  responding to such requests. Your request must provide
                  sufficient information that allows us to verify that you are
                  the person you are claiming to be or that you are the
                  authorized representative of such person. If we receive your
                  request from an authorized representative, we may request
                  evidence that you have provided such an authorized
                  representative with power of attorney or that the authorized
                  representative otherwise has valid written authority to submit
                  requests on your behalf.
                </p>
                <p style="text-align: left">
                  You must include sufficient details to allow us to properly
                  understand the request and respond to it. We cannot respond to
                  your request or provide you with Personal Information unless
                  we first verify your identity or authority to make such a
                  request and confirm that the Personal Information relates to
                  you.
                </p>
                <p style="text-align: left"><strong>Advertisements</strong></p>
                <p style="text-align: left">
                  We may display online advertisements and we may share
                  aggregated and non-
                </p>
                <p style="text-align: left">
                  identifying information about our customers that we or our
                  advertisers collect
                </p>
                <p style="text-align: left">
                  through your use of the Mobile Application and Services. We do
                  not share
                </p>
                <p style="text-align: left">
                  personally identifiable information about individual customers
                  with advertisers. In
                </p>
                <p style="text-align: left">
                  some instances, we may use this aggregated and non-identifying
                  information to
                </p>
                <p style="text-align: left">
                  deliver tailored advertisements to the intended audience.
                </p>
                <p style="text-align: left">
                  We may also permit certain third-party companies to help us
                  tailor advertising that we think may be of interest to Users
                  and to collect and use other data about User activities in the
                  Mobile Application. These companies may deliver ads that might
                  place cookies and otherwise track User behavior.
                </p>
                <p style="text-align: left"><strong>Email marketing</strong></p>
                <p style="text-align: left">
                  We offer electronic newsletters to which you may voluntarily
                  subscribe at any time.
                </p>
                <p style="text-align: left">
                  We are committed to keeping your e-mail address confidential
                  and will not
                </p>
                <p style="text-align: left">
                  disclose your email address to any third parties except as
                  allowed in the
                </p>
                <p style="text-align: left">
                  information use and processing section or for the purposes of
                  utilizing a third-
                </p>
                <p style="text-align: left">
                  party provider to send such emails. We will maintain the
                  information sent via e-
                </p>
                <p style="text-align: left">
                  mail in accordance with applicable laws and regulations.
                </p>
                <p style="text-align: left">
                  In compliance with the CAN-SPAM Act, all e-mails sent from us
                  will clearly state who the e-mail is from and provide clear
                  information on how to contact the sender.
                </p>
                <p style="text-align: left"><strong>Affiliate links</strong></p>
                <p style="text-align: left">
                  We may engage in affiliate marketing and have affiliate links
                  present on the Mobile Application and Services for the purpose
                  of being able to offer you related or
                </p>
                <p style="text-align: left">
                  additional products and services. If you click on an affiliate
                  link, a cookie will be placed on your browser to track any
                  sales for purposes of commissions.
                </p>
                <p style="text-align: left">
                  <strong>Links to other resources</strong>
                </p>
                <p style="text-align: left">
                  The Mobile Application and Services contain links to other
                  resources that are not owned or controlled by us. Please be
                  aware that we are not responsible for the privacy practices of
                  such other resources or third parties. We encourage you to be
                  aware when you leave the Mobile Application and Services and
                  to read the privacy statements of each and every resource that
                  may collect Personal Information.
                </p>
                <p style="text-align: left">
                  <strong>Information security</strong>
                </p>
                <p style="text-align: left">
                  We secure information you provide on computer servers in a
                  controlled, secure
                </p>
                <p style="text-align: left">
                  environment, protected from unauthorized access, use, or
                  disclosure. We maintain
                </p>
                <p style="text-align: left">
                  reasonable administrative, technical, and physical safeguards
                  in an effort to
                </p>
                <p style="text-align: left">
                  protect against unauthorized access, use, modification, and
                  disclosure of
                </p>
                <p style="text-align: left">
                  Personal Information in our control and custody. However, no
                  data transmission
                </p>
                <p style="text-align: left">
                  over the Internet or wireless network can be guaranteed.
                </p>
                <p style="text-align: left">
                  Therefore, while we strive to protect your Personal
                  Information, you acknowledge that(i) there are security and
                  privacy limitations of the Internet which are beyond our
                  control; (ii) the security, integrity, and privacy of any and
                  all information and data exchanged between you and the Mobile
                  Application and Services cannot be guaranteed; and (iii) any
                  such information and data may be viewed or tampered with in
                  transit by a third party, despite best efforts.
                </p>
                <p style="text-align: left">
                  As the security of Personal Information depends in part on the
                  security of the device you use to communicate with us and the
                  security you use to protect your credentials, lease take
                  appropriate measures to protect this information.
                </p>
                <p style="text-align: left"><strong>Data breach</strong></p>
                <p style="text-align: left">
                  In the event we become aware that the security of the Mobile
                  Application and
                </p>
                <p style="text-align: left">
                  Services has been compromised or Users’ Personal Information
                  has been
                </p>
                <p style="text-align: left">
                  disclosed to unrelated third parties as a result of external
                  activity, including, but
                </p>
                <p style="text-align: left">
                  not limited to, security attacks or fraud, we reserve the
                  right to take reasonably
                </p>
                <p style="text-align: left">
                  appropriate measures, including, but not limited to,
                  investigation and reporting, as
                </p>
                <p style="text-align: left">
                  well as notification to and cooperation with law enforcement
                  authorities. In the
                </p>
                <p style="text-align: left">
                  event of a data breach, we will make reasonable efforts to
                  notify affected
                </p>
                <p style="text-align: left">
                  individuals if we believe that there is a reasonable risk of
                  harm to the User as a
                </p>
                <p style="text-align: left">
                  result of the breach or if notice is otherwise required by
                  law. When we do,we will
                </p>
                <p style="text-align: left">
                  post a notice in the Mobile Application, send you an email.
                </p>
                <p style="text-align: left">
                  <strong>Changes and amendments</strong>
                </p>
                <p style="text-align: left">
                  We reserve the right to modify this Policy or its terms
                  related to the Mobile
                </p>
                <p style="text-align: left">
                  Application and Services at any time at our discretion. When
                  we do, we will revise the updated date at the bottom of this
                  page. We may also provide notice to you in other ways at our
                  discretion, such as through the contact information you have
                  provided.
                </p>
                <p style="text-align: left">
                  An updated version of this Policy will be effective
                  immediately upon the posting of
                </p>
                <p style="text-align: left">
                  the revised Policy unless otherwise specified. Your continued
                  use of the Mobile
                </p>
                <p style="text-align: left">
                  Application and Services after the effective date of the
                  revised Policy (or such
                </p>
                <p style="text-align: left">
                  other act specified at that time) will constitute your consent
                  to those changes.
                </p>
                <p style="text-align: left">
                  However, we will not, without your consent, use your Personal
                  Information in a
                </p>
                <p style="text-align: left">
                  manner materially different than what was stated at the time
                  your Personal
                </p>
                <p style="text-align: left">Information was collected.</p>
                <p style="text-align: left">
                  <strong>Acceptance of this policy</strong>
                </p>
                <p style="text-align: left">
                  You acknowledge that you have read this Policy and agree to
                  all its terms and conditions. By accessing and using the
                  Mobile Application and Services and submitting your
                  information you agree to be bound by this Policy. If you do
                  not agree to abide by the terms of this Policy, you are not
                  authorized to access or use the Mobile Application and
                  Services.
                </p>
                <p style="text-align: left"><strong>Contacting us</strong></p>
                <p style="text-align: left">
                  If you have any questions regarding the information we may
                  hold about you or if you wish to exercise your rights, you may
                  use the following data subject request form to submit your
                  request:
                </p>
                <p style="text-align: left">Submit a data access request</p>
                <p style="text-align: left">
                  If you have any other questions, concerns, or complaints
                  regarding this Policy, please contact us.
                </p>
                <p style="text-align: left">
                  We will attempt to resolve complaints and disputes and make
                  every reasonable effort to honor your wish to exercise your
                  rights as quickly as possible and in any event, within the
                  timescales provided by applicable data protection laws.
                </p>
                <p style="text-align: left">
                  This document was last updated on April 29, 2023
                </p>
                <p style="text-align: left">Made with Website Policies</p>
              </div>
              <!-- Implement your own superfast social sharing buttons without any JavaScript loading. No plugin required. Detailed steps here: https://crunchify.com/?p=7526 -->
            </div>
            <!-- .entry-content /-->
          </article>
          <!-- #the-post /-->

          <div class="post-components"></div>
          <!-- .post-components /-->
        </div>
        <!-- .main-content -->
      </div>
      <!-- .main-content-row /-->
    </div>
  </div>
</div>
