<ng-container *ngFor="let menuItem of menuItemsList">
  <div
    *ngIf="menuItem.isAuthorized && menuItem.children"
    class="menu-item menu-lg-down-accordion me-lg-1"
    data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
    data-kt-menu-placement="bottom-start"
  >
    <span
      class="menu-link py-3"
      [ngClass]="calculateMenuItemCssClass(menuItem.pathName)"
    >
      <span [translate]="menuItem.translateKey" class="menu-title"></span>
      <span class="menu-arrow d-lg-none"></span>
    </span>

    <div
      class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px"
      data-kt-menu-dismiss="true"
    >
      <div
        class="menu-item menu-lg-down-accordion me-lg-1"
        data-kt-menu-trigger="{default:'click', lg: 'hover'}"
        data-kt-menu-placement="right-start"
      >
        @if (menuItem.isAuthorized && !menuItem?.children) {
        <span
          class="menu-link py-3"
          [ngClass]="calculateMenuItemCssClass(menuItem.pathName)"
          ><span class="menu-icon">
            <app-keenicon
              name="element-plus"
              class="fs-md- text-white"
            ></app-keenicon>
          </span>
        </span>
        } @if (menuItem?.isAuthorized && menuItem?.children) {
        <ng-container *ngFor="let subMenuItem of menuItem.children">
          <div
            class="menu-item menu-lg-down-accordion me-lg-1"
            data-kt-menu-trigger="{default:'click', lg: 'hover'}"
            data-kt-menu-placement="right-start"
          >
            @if (subMenuItem.isAuthorized && !subMenuItem.children) {
            <div class="menu-item me-lg-1">
              <a
                class="menu-link py-3"
                routerLinkActive="active"
                [routerLink]="subMenuItem.pathName"
                ><span class="menu-bullet"
                  ><span class="bullet bullet-dot"></span></span
                ><span
                  class="menu-title"
                  [translate]="subMenuItem.translateKey"
                >
                </span
              ></a>
            </div>
            } @if (subMenuItem.isAuthorized && subMenuItem.children) {

            <div
              class="menu-item menu-lg-down-accordion me-lg-1"
              data-kt-menu-trigger="{default:'click', lg: 'hover'}"
              data-kt-menu-placement="right-start"
            >
              <span
                class="menu-link py-3"
                [ngClass]="calculateMenuItemCssClass(subMenuItem.pathName)"
                ><span class="menu-icon">
                  <app-keenicon
                    name="element-plus"
                    class="fs-md- text-white"
                  ></app-keenicon>
                </span>
                <span
                  class="menu-title"
                  [translate]="subMenuItem.translateKey"
                  [data-link]="subMenuItem.pathName"
                ></span
                ><span class="menu-arrow"></span
              ></span>
              <div
                class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px"
                data-kt-menu-dismiss="true"
              >
                @for (subMenuItemChild of subMenuItem.children; track $index) {

                <div class="menu-item me-lg-1">
                  <a
                    class="menu-link py-3"
                    routerLinkActive="active"
                    [routerLink]="subMenuItemChild.pathName"
                    ><span class="menu-bullet"
                      ><span class="bullet bullet-dot"></span></span
                    ><span
                      class="menu-title"
                      [translate]="subMenuItemChild.translateKey"
                    >
                    </span
                  ></a>
                </div>
                }
              </div>
            </div>

            }
          </div>
        </ng-container>
        }
      </div>
    </div>
  </div>
  <ng-container *ngIf="menuItem.isAuthorized && !menuItem.children">
    
    <div class="menu-item me-lg-1">
      <a
        class="menu-link py-3"
        routerLinkActive="active"
        [routerLink]="menuItem.pathName"
      >
        <span class="menu-title" [translate]="menuItem.translateKey"></span>
      </a>
    </div>
  </ng-container>
</ng-container>

