.btn-icon:not(.active) {
  &:hover {
    color: #0d9488  !important;

    i {
      color: #0d9488  !important;

    }
  }
}

.btn.btn-light.active {

  background: #0d9488 !important;
  color: whitesmoke !important;

}
