<div class="card card-custom gutter-b bg-transparent border-0">
    <div class="card-body p-0">
      <!-- begin: Filtration form -->

      <ng-container *ngIf="doctorService">

        <app-dynamic-container
          [service]="doctorService"
          [PageTitle]="'Pharmacy'"
          [isViewable]="true"
          [isEditable]="true"
          [isDeletable]="true"
          [filtersDataSource]="[
            {
              controlName: 'name',
              controlLabel: 'Doctor Name',
              controlValue: '',
              isVisible: true,
              controlType: 'text'
            },

          ]"
        >
        </app-dynamic-container>
      </ng-container>
    </div>
  </div>
